Repository CircleCI-Public/sample-AWS-monorepo-howdypartner: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-frontend, run-backend

Dockerfile
  frontend/Dockerfile
  frontend/package-lock.json
Due: run-frontend

adding terraform for frontend
  .gitignore
  backend/Dockerfile
  frontend/Dockerfile
  frontend/package-lock.json
  frontend/package.json
  frontend/terraform/ecs/main.tf
  frontend/terraform/ecs/networking.tf
  frontend/terraform/ecs/outputs.tf
  frontend/terraform/ecs/remote.hcl
  frontend/terraform/ecs/task_definition.json
  frontend/terraform/ecs/user_data.sh
  frontend/terraform/ecs/variables.tf
Due: run-frontend, run-backend

test
  .circleci/dynamic_config.yml
Due: none

updated the config file
  .circleci/dynamic_config.yml
Due: none

test new config
  .circleci/dynamic_config.yml
Due: none

test deploy
  .circleci/dynamic_config.yml
Due: none

test ionic build
  .circleci/dynamic_config.yml
Due: none

test it
  .circleci/dynamic_config.yml
Due: none

updated packages
  frontend/package.json
Due: run-frontend

test all of it
  .circleci/dynamic_config.yml
Due: none

test again
  .circleci/dynamic_config.yml
Due: none

test all day
  .circleci/dynamic_config.yml
Due: none

test docker push
  .circleci/dynamic_config.yml
Due: none

test again ecs
  .circleci/dynamic_config.yml
Due: none

env tf change
  frontend/terraform/ecs/task_definition.json
Due: run-frontend

updated with changes
  .circleci/dynamic_config.yml
  frontend/terraform/ecs/task_definition.json
Due: run-frontend

test the code
  .circleci/dynamic_config.yml
Due: none

Test code again
  .circleci/dynamic_config.yml
  backend/.circleci/config.yml
Due: run-backend

test code
  .circleci/dynamic_config.yml
Due: none

tst
  .circleci/dynamic_config.yml
Due: none

test flask v!.0
  backend/requirements.txt
Due: run-backend

test
  backend/requirements.txt
Due: run-backend

test the nodejs
  .circleci/dynamic_config.yml
Due: none

sadfasdfa
  .circleci/dynamic_config.yml
Due: none

git test
  .circleci/dynamic_config.yml
Due: none

test full pipeline
  .circleci/dynamic_config.yml
Due: none

test cache
  .circleci/dynamic_config.yml
Due: none

test arm deploy
  .circleci/dynamic_config.yml
  frontend/terraform/ecs/variables.tf
Due: run-frontend

addingarm capabilities
  .circleci/dynamic_config.yml
  frontend/Dockerfile
Due: run-frontend

test the system final
  .circleci/dynamic_config.yml
Due: none

testing arm deploy
  .circleci/dynamic_config.yml
Due: none

test path filtering
  frontend/terraform/ecs/variables.tf
Due: run-frontend

Remove CircleCI Badge
  README.md
Due: none

fix: upgrade @ionic/vue from 5.6.8 to 5.9.1
  frontend/package-lock.json
  frontend/package.json
Due: run-frontend

Path conditions:
  run-frontend: any of: frontend/.*
  run-backend: any of: backend/.*
